<h1>Basics</h1>

<h2>Interpolación vs Binding de propiedades</h2>
<p>Botón deshabilitado: {{ isDisabled }}</p>

<button disabled='{{isDisabled}}' (click)="btnClick()">Interpolación</button>

<button [disabled]='isDisabled' (click)="btnClick()">Binding</button>



