button:focus,
button:active {
  outline: none;
}

button {
  background-color: #fff;
  border: 2px solid #000;
  padding: 5px 10px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background-color: #000;
    color: #fff;
    transition: .2s all ease-in-out;
  }
}

button:disabled,
button[disabled] {
  background-color: grey;
  color: #000;
  opacity: .4;
  cursor: none;
}
