<p *ngIf="user === undefined">
  USER NO SELECTED
</p>
<div *ngIf="user !== undefined">
  <img [src] = "user.picture.large" >
  <p>{{ user.name.first }} {{user.name.last}}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.gender }}</p>
</div>
