<h1>Componentes</h1>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <h2>Estructura</h2>
    </div>
    <div class="swiper-slide">
        <h2>Ciclo de vida</h2>
    </div>
    <div class="swiper-slide">
        <h2><a id="comunicacion">Comunicación entre componentes</a></h2>
        <div class="cmp parent">
          <h3>Componente Padre</h3>
          <div class="cmp child-1">
            <h3>Componente Hijo 1 - Listado de usuarios</h3>
            <app-users-list [users]="users" (userIndex)="getUserIndex($event)"></app-users-list>
          </div>
          <div class="cmp child-2">
            <h3>Componente Hijo 2 - Detalle de usuario seleccionado</h3>
            <app-current-user [user]="userSelected"></app-current-user>
          </div>
        </div>
    </div>
  </div>
</div>
