<ng-template [ngIf]="users !== undefined || users.length > 0">
  <ul>
    <li *ngFor="let user of users; let i = index"
    [ngClass]="{'selected' : userSelected === i}"
    (click)="userSelectedIndex(i)">
      <img src="{{ user.picture.thumbnail }}" alt="">
      <p>{{ user.name.first }} {{ user.name.last }}</p></li>
  </ul>
</ng-template>
<ng-template [ngIf]="users === undefined || users.length === 0">
  <p>Loading...</p>
</ng-template>
