$borderWidth: 2px;
$brandColor: #2f353a;
$menuWidth: 200px;
body {
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.global {
  display: flex;
  width: 100%;
  height: 100vh;
  app-menu {
    position: fixed;
    width: $menuWidth;
    min-height: 100vh;
    background-color: $brandColor;
    color: #fff;
  }
  app-content {
    position: relative;
    left: $menuWidth;
    width: calc(100% - #{$menuWidth});
    min-height: 100vh;
  }
}

.cmp {
  padding: 10px;
  margin: 20px 0;
  h3 {
    max-width: auto;
    background-color: #000000;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.parent {
  border: $borderWidth solid lightseagreen;
  h3 {
    background-color: black;
    color: lightseagreen;
  }
}
.child-1 {
  border: $borderWidth solid darkblue;
  h3 {
    background-color: grey;
    color: darkblue;
  }

  ul li {
      padding: 5px;
      border-bottom: 1px solid darkblue;
      &.selected {
        background: darkblue;
        color:#fff;
      }
  }
}
.child-2 {
  border: $borderWidth solid darkorange;
  h3 {
    background-color: black;
    color: darkorange;
  }
}
