<aside class="menu">
  <ul>
    <li routerLink="basics">Básicos</li>
    <li routerLink="components">Componentes</li>
    <li routerLink="modules">Modulos</li>
    <li>Filtros</li>
    <li>Directivas</li>
    <li>Routing</li>
    <li>DI / Services</li>
    <li>Rxjs / Observables</li>
  </ul>
</aside>
