.menu {
  ul, li {
    outline: none;  }  
  ul {
    margin-top: 40px;
  }
  ul > li {
    padding: 10px 25px;
    cursor: pointer;
    &.active {
      color: lightblue;
    }
    &:hover {
      background-color: lightblue;
      color: #000;
      transition: background-color 0.2s ease-in;
    }
  }
}
